body {
    min-height: 100%;
  }

  *:focus{outline:none}


 .posabsolute {
   border-radius: 55px;
   border: solid 3px red;
   width: 66px;
   height: 66px;
   position: absolute;
 } 

.textAlign {
  margin: 0 auto;
  
} 
.posabsoluteonly {
  position: absolute;
} 
.posabsoluteonlycharacters {
  position: absolute;
  left: 7em
} 

.images {
  width: 3em;
  height: 3em;
  margin-left: 1em;
}